/*==============================================================
# Layout (mainly Apigee overrides)
==============================================================*/

/* To accomidate the "absolute" footer */
html {
	position: relative;
	min-height: 100%;
}
body {
	@include breakFirst(medium) {
		padding-bottom: 150px;
	}
}

/* Allows full width layout options*/
#mainPageContent {
    padding: 0;
    .container {
    	&.layout-basic {
    		width: 100%;
    		margin: 0;
    		padding: 0;
    	}
	}
}
.section {
	float: left;
	width: 100%;
	clear: both;
}
.general-section {
	margin: 30px 0 40px;
}